::selection {
  background: indigo;
  color: #ee1;
}

:root {
  background: #1ed;
  color: #528;
}

:any-link {
  color: inherit;
}

@media (prefers-contrast: more) {
  :root {
    color: indigo;
  }
}
