::selection {
  background: #ee1;
  color: indigo;
}

:root {
  background: #528;
  color: #1ed;
}

:any-link {
  color: inherit;
}

@media (prefers-contrast: more) {
  :root {
    background: indigo;
  }
}
